div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.barChart, .scatterplot{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	margin: 40px 0px 30px 0px;
}



svg {
	display: block;
	margin: auto;
}